
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEm</title>
</head>
<body>
    เพิ่มพนักงาน
    <div> 
        ชื่อ : <input type="text" id="TxtFName" name="Fname" value="" /> 
        นาสกุล: <input type="text" id="TxtLName" name="EmID" value="" /><br />   
        รหัสบัตรประชาชน : <input type="text" id="TxtFName" name="EmID" value="" /><br /> 
        วันเดือนปีเกิด: <input type="text" id="TxtFName" name="EmID" value="" /><br /> 
        ตำแหน่ง : <input type="text" id="TxtFName" name="EmID" value="" /><br /> 
        เพศ: <form action="">
                <input type="radio" name="gender" value="male"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
            </form>
        ที่อยู่ : <input type="text" id="TxtFName" name="EmID" value="" /><br /> 
        เบอร์ติดต่อ: <input type="text" id="TxtFName" name="EmID" value="" /><br /> 
        userID : <input type="text" id="TxtFName" name="EmID" value="" /> <br />
        เวลาทำงาน: <input type="text" id="TxtFName" name="EmID" value="" />
        วัน : <input type="text" id="TxtFName" name="EmID" value="" /><br /> 
       
            <input type="submit" name="Btnsubmit" value="ok" />
    </div>
</body>
</html>
