
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DelEm</title>
</head>
<body>
    ลบข้อมูลพนักงาน
    <div> 
        EmID: <input type="text" id="TxtID" name="EmID" value="" /><br />
        <input type="submit" name="BtnFind" value="ตกลง" /><br />
    </div>
</body>
</html>
