
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DelRes</title>
</head>
<body>ลบข้อมูลผู้พักอาศัย<br />
    <div> รหัสบัตรประชาชน: <input type="text" id="TxtFName" name="EmID" value="" /><br />
        <input type="submit" name="Btnsubmit" value="ลบ" />
    </div>
</body>
</html>
