
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailEm</title>
</head>
<body>
    ข้อมูลพนักงาน <br/>
    //ตาราง
  
    <div>
            ค้นหาพนักงาน EmID: <input type="text" id="TxtFName" name="EmID" value="" /><br />
            
            <input type="submit" name="BtnFind" value="ค้นหา" /><br/>
        <a href="/Project/AddEm"> เพิ่มพนักงาน </a><br/>
        <a href="/Project/DelEm"> ลบพนักงาน </a><br />
    </div>
</body>
</html>
