
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetialRes_Own</title>
</head>
<body>ข้อมูลผู้พักอาศัยในหอพัก <br/>
    <div> 
        //ตาราง <br/>
    </div>
    <a href="/Project/AddRes"> เพิ่มผู้พักอาศัย </a><br />
    <a href="/Project/DelRes"> ลบผู้พักอาศัย </a><br />
</body>
</html>
