
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetialRes_Rcp</title>
</head>
<body>
    ข้อมูลผู้พักอาศัยในหอพัก <br />
    <div>
        //ตาราง <br />
    </div>
    <a href="/Project/AddRes"> เพิ่มผู้พักอาศัย </a><br />
    รหัสบัตรประชาชน : <input type="text" id="TxtID" name="EmID" value="" /><br />
    <input type="submit" name="BtnFind" value="แก้ไข" /><br />
</body>
</html>
